include ../mixins.html.jade

doctype html
html
	head
		include ../head.html.jade

		script.
			var recommendData = !{JSON.stringify(output, undefined, 2)};
	
	body

		.row.row-offcanvas.row-offcanvas-left
			.col-xs-2.sidebar
				| VET
			.col-xs-12.col-sm-10.page
				.row.row-offcanvas.row-offcanvas-right
					.col-xs-12.col-sm-9
						include ../menu.html.jade

						section.highlight
							.row
								.col-md-12
									img.img-thumbnail(src="http://placehold.it/1000x250", width="100%")

						section.newest
							.row
								.col-md-12
									h2.section-title Newest 
										span.js-number.light 12
									a(href="#").more See all 
										i.fa.fa-caret-right
								#newest.row.thumb-holder
									.thumbs
										img.img-thumbnail(src="http://placehold.it/220x120", width="250")
										img.img-thumbnail(src="http://placehold.it/220x120", width="250")
										img.img-thumbnail(src="http://placehold.it/220x120", width="250")
										img.img-thumbnail(src="http://placehold.it/220x120", width="250")
										img.img-thumbnail(src="http://placehold.it/220x120", width="250")
										img.img-thumbnail(src="http://placehold.it/220x120", width="250")


					#recommend.col-sm-3.recommend
						.navbar.navbar-static-top.navbar-inverse(role="navigation")
							.container-fluid
								.navbar-header
									ul.nav.navbar-nav.navbar-right
										li
											a(href="#") 
												strong Utrecht
						.row
							.col-md-12
								h2 Upcoming 
									span.js-number.light
						.row
							.col-md-12
								ul.events