include ../mixins.html.jade

doctype html
html
	head
		include ../head.html.jade
	
	body

		.container-fluid
			.row.row-offcanvas.row-offcanvas-left
				.col-xs-2.sidebar
					| VET
				.col-xs-12.col-sm-10.page
					.container-fluid
						.row 
							include ../menu.html.jade