/* SIDEBAR */

.sidebar {
	background: #EEE;
	position: relative;
	height: 100vh!important;
	padding: 15px;

	form {
		margin-top: 50px;

		input {
			background: #DDD!important;
		}

		.btn-group {
			button {
				width: 10%;
				&:first-child {
					width: 90%;
				}
			}
		}

	}

	.secnav {
		margin-top: 50px;
  	& > li {
	  	a {
	  		color: #000;
	  		font-size: 3rem;
	  		font-weight: 100;
	  	}

	  	ul {
	  		margin: 0 0 0 15px;
	  	}

  		li {
  			a {
  				font-size: 1.75rem;
  				font-weight: 300;
  			}
  		}
	  }
  }

}

@media screen and (max-width: 1024px) {
	.sidebar {
		left: -300px;
	  width: 300px;
	  position: absolute;
	  .transition(100ms, ease-out, 1, left);
	}

	.sidebar.in + .page {
		position: absolute;
		margin-left:300px;
	}

	.sidebar.in {
		left:0;
	}

	.recommend {
		display: none;
	}

}
.sidebar.collapse {
	display: block;
}


.tt-dropdown-menu {
	width: 100%;
	border:solid 1px #CCC;
	margin-top: 5px;
	border-radius: 3px;
	background: #FFF;

	.tt-header {
		margin: 8px 15px 0 15px;
		display:block;
		color: #BBB;
	}

	.tt-suggestions {
		background: #FFF;
		overflow: hidden;
		margin-top: 5px;

		.tt-suggestion {
			padding: 2px 15px;

			p {
				line-height: 1em;
				margin: 6px 0;
			}

			img {
				border-radius: 50%;
				width: 36px;
				height:36px;
				margin: 5px 0;
			}
		}

		.tt-is-under-cursor {
			background: #EFEFEF;
			color: #FFF;
		}
	}
}
