/* SIDEBAR */

.sidebar {
	background: #EEE;
	position: relative;
	height: 100vh!important;
	padding: 15px;

	form {
		margin-top: 50px;

		input[type="text"] {
			background: #DDD;
			padding: 20px 10px;
		}

	}

	.secnav {
		margin-top: 50px;
  	li {
	  	a {
	  		color: #000;
	  		font-size: 3rem;
	  		font-weight: 100;
	  	}
	  }
  }

}

@media screen and (max-width: 1024px) {
	.sidebar {
		left: -400px;
	  width: 400px;
	  position: absolute;
	  .transition(100ms, ease-out, 1, left);
	}

	.sidebar.in + .page {
		position: absolute;
		margin-left:400px;
	}

	.sidebar.in {
		left:0;
	}

	.recommend {
		display: none;
	}

}
.sidebar.collapse {
	display: block;
}
