.navbar {
  margin-bottom: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.page {
  position: relative;
  height: 100vh;
  -webkit-transition: margin 100ms ease-out;
     -moz-transition: margin 100ms ease-out;
       -o-transition: margin 100ms ease-out;
          transition: margin 100ms ease-out;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
/* NAVBAR */
/* NAVBAR */
.navbar {
  padding: 0;
}
.navbar .navbar-toggle {
  float: left;
  margin-left: 10px;
}
/* SPECIALS */
.toggle {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.hamburger {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 12px;
  margin: 1px 10px 3px -12px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.hamburger i {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: white;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
  transition-delay: .2s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.hamburger:after,
.hamburger:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  content: '';
  border-bottom: 2px solid white;
  -webkit-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
     -moz-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
       -o-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
          transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.hamburger:after {
  top: 100%;
  transform-origin: left bottom;
}
.toggle:checked + .hamburger i {
  opacity: 0;
  transition-delay: 0;
}
.toggle:checked + .hamburger:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
     -moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
      -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
       -o-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
          transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
}
.toggle:checked + .hamburger:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
     -moz-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
      -ms-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
       -o-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
          transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
}
/* SIDEBAR */
/* SIDEBAR */
.sidebar {
  position: relative;
  height: 100vh!important;
  padding: 15px;
  background: #eee;
}
@media screen and (max-width: 1024px) {
    .sidebar {
    position: absolute;
    left: -400px;
    width: 400px;
    -webkit-transition: left 100ms ease-out;
       -moz-transition: left 100ms ease-out;
         -o-transition: left 100ms ease-out;
            transition: left 100ms ease-out;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
    }
    .sidebar.in + .page {
    position: absolute;
    margin-left: 400px;
    }
    .sidebar.in {
    left: 0;
    }
}
.sidebar.collapse {
  display: block;
}
