.navbar {
  margin-bottom: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
ul,
li {
  padding: 0;
  list-style: none;
}
/* COLORS */
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h2 {
  font-size: 2rem;
}
section {
  padding: 20px;
}
.light {
  font-weight: 100;
  color: #aaa;
}
.light:before {
  content: "(";
}
.light:after {
  content: ")";
}
.section-title {
  padding: 0;
  margin: 0;
}
.section-title,
.more {
  position: relative;
  float: left;
}
.more {
  padding-top: 3px;
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.img-thumbnail {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}
.page {
  position: relative;
  height: 100vh;
  -webkit-transition: margin 100ms ease-out;
     -moz-transition: margin 100ms ease-out;
       -o-transition: margin 100ms ease-out;
          transition: margin 100ms ease-out;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
/* SIDEBAR */
/* SIDEBAR */
.sidebar {
  position: relative;
  height: 100vh!important;
  padding: 15px;
  background: #eee;
}
@media screen and (max-width: 1024px) {
    .sidebar {
    position: absolute;
    left: -400px;
    width: 400px;
    -webkit-transition: left 100ms ease-out;
       -moz-transition: left 100ms ease-out;
         -o-transition: left 100ms ease-out;
            transition: left 100ms ease-out;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
    }
    .sidebar.in + .page {
    position: absolute;
    margin-left: 400px;
    }
    .sidebar.in {
    left: 0;
    }
    .recommend {
    display: none;
    }
}
.sidebar.collapse {
  display: block;
}
/* PAGE */
/* NAVBAR */
.navbar {
  padding: 0;
}
.navbar .navbar-toggle {
  float: left;
  margin-left: 10px;
}
/* SPECIALS */
.toggle {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.hamburger {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 12px;
  margin: 1px 10px 3px -12px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.hamburger i {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: white;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
  transition-delay: .2s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.hamburger:after,
.hamburger:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  content: '';
  border-bottom: 2px solid white;
  -webkit-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
     -moz-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
       -o-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
          transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.hamburger:after {
  top: 100%;
  transform-origin: left bottom;
}
.toggle:checked + .hamburger i {
  opacity: 0;
  transition-delay: 0;
}
.toggle:checked + .hamburger:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
     -moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
      -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
       -o-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
          transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 4px, 0);
}
.toggle:checked + .hamburger:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
     -moz-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
      -ms-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
       -o-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
          transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -4px, 0);
}
.highlight .carousel-indicators {
  position: relative;
  top: 10px;
  bottom: 0;
  margin-bottom: 0;
}
.highlight .carousel-indicators .indicator {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: #ccc;
  border: none;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
}
.highlight .carousel-indicators .indicator.active {
  background-color: #3276b1;
}
.newest .thumb-holder {
  position: relative;
  display: block;
  overflow-x: scroll;
  clear: both;
}
.newest .thumb-holder .thumbs {
  padding: 10px 0 20px 0;
  white-space: nowrap;
}
.newest .thumb-holder .thumbs img:not(:last-child) {
  margin-right: 30px;
}
.newest .thumb-holder:safter {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 100%;
  content: "";
  background: transparent;
  background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #fff));
  background:     -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), #fff);
  background:    -moz-linear-gradient(center bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
  background:      -o-linear-gradient(#fff, rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='rgba(255, 255, 255, 0)', GradientType=0);
}
.recommend {
  height: 100vh;
  overflow: hidden;
  border-left: solid #ccc 1px;
}
.recommend > .row {
  padding: 0 15px;
}
.recommend .section-title,
.recommend .more {
  margin-top: 20px;
  margin-bottom: 20px;
}
.recommend .events {
  font-size: 13px;
}
.recommend .events li {
  padding: 8px 0;
}
.recommend .events li:hover .cal {
  background: #bbb;
}
.recommend .events li span {
  display: block;
}
.recommend .events li .cal {
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  background: #ccc;
  border-radius: 20%;

      -ms-box-sizing: border-box;
}
.recommend .events li .cal span {
  color: #fff;
  text-align: center;
}
.recommend .events li .cal .mnt {
  font-size: 1.1em;
  font-weight: bold;
}
.recommend .events li .cal .day {
  margin-top: -5px;
  font-size: 3rem;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
    .recommend .events li .cal {
    height: auto;
    overflow: hidden;
    border-radius: 3px;
    }
    .recommend .events li .cal .day,
  .recommend .events li .cal .mnt {
    position: relative;
    float: left;
    margin: 0 0 0 5px;
    font-size: 13px;
    }
}
.recommend .events li .title {
  font-weight: bold;
}
.recommend .events li .venue {
  margin: 2px 0;
  font-size: 12px;
  font-style: italic;
  color: #999;
}
